# Ambientes Virtuais
venv/
.venv/
env/

# Configurações de Segurança (NUNCA SUBIR)
.env

# Arquivos temporários do Python
__pycache__/
*.py[cod]

# Relatórios gerados (opcional, se não quiser subir os CSVs de teste)
*.csv